.site {
  width: 600px;
  margin: 0 auto;
}

.channelContainer {}

.channelList {
  border: 1px solid #000;
  border-radius: 0 15px;
  padding: 0;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.channelsHeader {
  margin-left: 1em;
  color: green;
}

.channelList a {
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
}

.channelList a:hover {
  color: #CCC;
}

.channelBtn > * {
  padding: 0;
  margin: 0;
}

.channelHeader {
  text-align: center;
  padding: 1em;
  color:midnightblue;
}

.chatBox {
  border: 1px solid #000;
  border-radius: 0 15px;
  padding: 0.5em 0 0 0;
  margin: 0.5em;
}
.chatTitle {
  margin: 0 0 0 1em;
}

.chatText {
  margin: 0 0 1em 1em;
  padding: 0;
}