.channelContainer {
  background-color: green;
}

.channelBtn {
  padding: 1em 3em;
  margin: 0 0.5em;
}

.channelList {
  list-style: none;
}

.channelBtn > * {
  padding: 0;
  margin: 0;
}

.channelHeader {
  background-color: blue;
  text-align: center;
  padding: 1em;
}